
///
/// The default gap using in padding or margin.
///

// Prefix for all css classes and css variables
$prefix: wy !default;

// Default gap
$gap: 0.25rem !default;

// Colors
$color-back: #000 !default;
$color-white: #fff !default;


// Color Schema: "normal"
// Primary
$primary-color: #03A9F4 !default;
// Secondary
$secondary-color: #d0d0d0 !default;
// Accent
$accent-color: #CDDC39 !default;
// Error
$error-color: #EF5350 !default;
// Warning
$warning-color: #FDD835 !default;

// Divider
$divider-color: #BDBDBD !default;

$outline-color-bg: #ffffff !default;
$outline-color-text: #212121 !default;


$contrast-threshold: 55% !default;