
///
/// The default gap using in padding or margin.
///

// Prefix for all css classes and css variables
$prefix: wy !default;

// Default gap
$gap: 0.25rem !default;

// Colors
$back: #000 !default;